import { useState } from 'react'
import reactLogo from './assets/react.svg'
import viteLogo from '/vite.svg'
import './App.css'
import Navbar from './layouts/Navbar'
import Footer from './layouts/Footer'
import Hero from './components/Hero'


function App() {
  return (
    <>
      <Navbar />
      
      
        {/* Hero Section */}
        <Hero />

      
      <Footer/>
    
    </>
  )
}

export default App
